.page-nav{
    float: left;
    margin:2px;
    padding: 2px;
    border-radius: 5px 5px 0 0;
    width: 4%;
    font-weight: bold;
    font-family: Alef, sans-serif;
    font-size: large;
    background-color: white;
}

.link{
    color: black;
    text-decoration: none;
    width: max-content;
}
.link:hover{
    color: #a8a8a8;
}
