table{
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    width: max-content;
    height: max-content;
}



.table tr:nth-child(even){background-color: #f2f2f2;}
