.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 15%;
  padding: 2%;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-nav {
    font-size: medium;
    text-align: left;
}
.App-nav-button {
    padding: 2ex;
}
.App-nav-button:hover {
    cursor: pointer;
}


#table{

}
#about{
    display: none;
}